@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<video width="400" controls preload="auto" style="background-color:#000000";>
    <source src="api/Sample" type="video/mp4">
    <p>This browser does not support the video element.</p>
</video>