
@{
    ViewBag.Title = "Samplebrood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Samplebrood</h2>

<video width="400" controls preload="auto">
    <source src="api/Sample" type="video/mp4">
    <p>This browser does not support the video element.</p>
</video>